
body{
    margin:0;
    background-color: lightskyblue;
}
#clouds{
    background-image: url("../img/clouds.png");
    height: 73px;
}

#mario{
    background-image: url("../img/mario.png");
    height: 113px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}

#floor{
    background-image: url("../img/base.png");
    height: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}